<div class="element">
  <div class="votes">
    <div class="voteup">
    </div>
    <h3 class="upvotes"><%= upvotes %></h3>
  </div>
  <div class="side-info">
    <div class="icon i<%= colorCode %>"></div>
  </div>
    <div class="info">
      <h4><%= type %></h4>
      <p class="details"><%= shortDescription %></p>
    </div>
  </div>
</div>
  <div class="submission"><p><i>Submitted by <%= submitter %></i></p></div>
  <br>
  <div class="annotation-detail">
    <h2 class="">About</h2>
    <p><%= description %></p>
  </div>
  <div class="comments">
    <h2>Comments</h2>
    <div class="comment">
      <div class="commenter">
        <div class="profile-pic"></div>
        <div class="commenter-info"><p>Antho</p><p><i>@anthooo</i></p></div>
      </div>
      <div class="message">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor lectus, tincidunt non eleifend eu, aliquet a turpis. Phasellus ut dictum elit. Mauris tempor dolor vel lacus faucibus, vel fringilla eros faucibus. Nunc ut vulputate ipsum. Nullam egestas tincidunt erat, dignissim ultrices ipsum sagittis in. Sed mattis placerat orci at rutrum. Maecenas eu hendrerit purus, laoreet facilisis neque. Nam non ultrices felis. Nulla facilisi. Nam viverra felis vitae aliquet tincidunt. Proin fermentum egestas tincidunt. In cursus magna sit amet varius posuere. Quisque elementum dolor iaculis tempus luctus. Phasellus nec leo in justo vehicula molestie vitae vel tellus. Integer ornare massa vel libero malesuada suscipit.</p>
      </div>
    </div>
  </div>
